---
layout: default
paginate: true
---

<div class="posts">
  {% for post in paginator.posts %}
    <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
    <p>{{ post.excerpt }}</p>
  {% endfor %}
</div>

<div class="pagination">

  {% assign current_page = paginator.page %}
  {% assign total_pages = paginator.total_pages %}
  {% assign show_pages = 3 %}
  {% assign min_page = current_page | minus: show_pages %}
  {% assign max_page = current_page | plus: show_pages %}

  {% for page in (1..total_pages) %}
    {% if page >= min_page and page <= max_page %}
      {% if page == current_page %}
        <span class="active">{{ page }}</span>
      {% else %}
        {% if page == 1 %}
          <a href="{{ site.baseurl }}/">{{ page }}</a>
        {% else %}
          <a href="{{ site.baseurl }}/page{{ page }}/">{{ page }}</a>
        {% endif %}
      {% endif %}
    {% endif %}
  {% endfor %}

</div>
