---
---

@import "{{ site.theme }}";

/* Google FontsからNoto Sans Japaneseをインポート */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

body {
    font-family: 'Noto Sans JP', sans-serif;
}

code, pre {
    font-family: 'Source Code Pro', monospace;
}

p {
  text-align: justify;
}

.post-meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.post-date {
  margin: 0;
}

.home-link {
  text-decoration: none;
  color: #333;  /* お好みの色に変更可能 */
}

.home-link:hover {
  text-decoration: underline;
}
